<h1 class="mt-3 mb-5">Admin » Dashboard</h1>
<div class="d-flex justify-content-evenly mt-5">
  <div class="card p-5 w-50" style="width: 18rem;">
    <div class="card-body">
    <h4 class="card-title text-center fw-bold mb-3">Store Statistics:</h4>
      <p class="card-text text-center">
        Product count: <%= @product_count %>
      </p>
      <p class="card-text text-center">
        Category count: <%= @category_count %>
      </p>
      <a href="/admin/products" class="btn btn-primary d-block mt-5">Products</a>
    </div>
  </div>
</div>
