<h1>Admin » Categories</h1>
<div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>
<ul class="list-group list-group-flush">
<%@categories.each do |cat|%>
  <li class="list-group-item"><%=cat.name%></li>
<%end%>
</ul>
