<h1 class="mt-3">About</h1>
<div class="d-flex justify-content-center mt-5">
<div class="card w-75">
<div class="card-body p-5">
  <h3 class="card-title text-center mb-3">Welcome to Jungle!</h3>
  <p class="card-text">
  Jungle was founded by Robert Dunder and Robert Mifflin in 2010, where they supplied metal brackets. Eventually, the company started selling indoor plants and opened several branches across the Northeastern United States. Today, our mission is to provide customers with a wide variety of high-quality indoor plants to liven up their living spaces. 
  </p>
</div>
</div>
</div>

